.red-button{
    background-color: red;
}

.red-button:hover{
    background-color: rgb(224, 0, 0);
}

.me-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.projects{
    gap: 20px;
}

.inside-project{
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.project{
    flex-basis: 49%;
    height: 250px;
    justify-content: space-between;
}

.description{
    width: 350px;
    height: 20px;
    overflow-y: scroll;
}

.danger{
    color: rgb(228, 149, 0);
}

.no-danger{
    color: green;
}

.cancel{
    display: flex;
    gap: 15px;
}