.red-button {
    background-color: red;
}

.red-button:hover {
    background-color: rgb(224, 0, 0);
}

.me-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.projects {
    gap: 20px;
}

.inside-project {
    gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}

.project {
    /* flex-basis: 49%; */
    /* height: 250px; */
    justify-content: space-between;
}

.description {
    /* width: 350px; */
    height: 23px;
    overflow-y: scroll;
}

.danger {
    color: rgb(228, 149, 0);
}

.no-danger {
    color: green;
}

.cancel {
    display: flex;
    gap: 15px;
}

.buttons {
    display: flex;
}

@media only screen and (max-width: 800px) {

    /* .buttons {
        display: flex;
        flex-direction: column;
    } */

    .inside-project {
        gap: 15px;
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }
}